<a href="https://colab.research.google.com/github/bhavya-samboju/2311CS020589/blob/main/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Data
data = {
    "customer_id": [1, 2, 3, 4],
    "gender": ["Male", "Female", "Female", "Male"],  # Corrected typo in "Feamle"
    "city": ["Hyderabad", "Pune", "Banglore", "Mumbai"],  # Standardized case
    "fruits": ["Apple", "Orange", "Kivi", "Banana"]  # Standardized case
}

# Create DataFrame
df = pd.DataFrame(data)

# Initialize OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse_output=False)

# Columns to encode
columns_to_encode = ["gender", "city", "fruits"]

# Fit and transform the data
encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])

# Get encoded column names
encoded_columns = one_hot_encoder.get_feature_names_out(columns_to_encode)

# Create a new DataFrame with encoded columns
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)

# Combine original and encoded data
result_df = pd.concat([df[["customer_id"]], encoded_df], axis=1)

print(result_df)

   customer_id  gender_Female  gender_Male  city_Banglore  city_Hyderabad  \
0            1            0.0          1.0            0.0             1.0
1            2            1.0          0.0            0.0             0.0
2            3            1.0          0.0            1.0             0.0
3            4            0.0          1.0            0.0             0.0

   city_Mumbai  city_Pune  fruits_Apple  fruits_Banana  fruits_Kivi  \
0          0.0        0.0           1.0            0.0          0.0
1          0.0        1.0           0.0            0.0          0.0
2          0.0        0.0           0.0            0.0          1.0
3          1.0        0.0           0.0            1.0          0.0

   fruits_Orange
0            0.0
1            1.0
2            0.0
3            0.0